:root{
    --backgrColor: #fffffe;
    --titleColor: #e53170;
    --cardTextColor: #fffbf7;
    --cardBackgrColor: #0f0e17;
    --cardMailColor: #52c7ff;
}
/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Utility */
.alignTextHorizontal{
    text-align: center;
}

header, main{
    max-width: 1400px;
    margin: 0 auto;
}
body{
    background-color: var(--backgrColor);
    font-family: 'Fredoka', sans-serif;
}
header h1{
    color: var(--titleColor);
    font-size: 2.5rem;
    margin: 2rem 0 3rem 0;
}
header p{
    font-size: 1.3rem;
    margin-bottom: 3rem;
}
.card{
    width: calc(100% / 3 - 2.4rem);
    height: 115px;
    float: left;
    background-color: var(--cardBackgrColor);
    color: var(--cardTextColor);
    margin: 1.5rem 1.2rem;
    font-size: 1.1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.15);
}
.card img{
    width: 32%;
    height: 115px;
    float: left;
    object-fit: cover;
    padding-right: 20px;
}
.card .title{
    padding-top: 13px;
    font-size: 1.3rem;
}
.card .role{
    padding: 8px 0 8px 0;
}
.card .mail{
    color: var(--cardMailColor);
    padding-top: 5px;
}